* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* THEME VARIABLES */
body.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #ffffff;
  --accent: #38bdf8;
}

body.light {
  --bg: #f8fafc;
  --card: #ffffff;
  --text: #020617;
  --accent: #0284c7;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.4s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--card);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: var(--accent);
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: var(--text);
}

nav a:hover {
  color: var(--accent);
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

#themeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: var(--accent);
}

.hero button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: var(--accent);
  cursor: pointer;
}

section {
  padding: 60px 30px;
  text-align: center;
}

.skill-box,
.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-box div,
.card {
  background: var(--card);
  padding: 15px 25px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover,
.skill-box div:hover {
  transform: translateY(-8px);
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form button {
  background: var(--accent);
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  background: var(--card);
  padding: 15px;
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    background: var(--card);
    right: 0;
    top: 60px;
    width: 200px;
  }

  nav.show {
    display: flex;
  }

  .menu {
    display: block;
  }
}
